<!--service-->
<section id="service" class="section-padding">
    <div class="container" style="padding-top:100px">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h2 class="ser-title">Serviciile noastre</h2>
                <hr class="botm-line">
                <p></p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-stethoscope"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Îngrijire medicală 24/24 de ore</h4>
                        <p>În spitalul MediCare, pacienții se bucură de toată atenția din partea unor doctori cu un mare renume in medicina romanească.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-ambulance"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Servicii de urgență</h4>
                        <p>La MediCare serviciile medicale de înalta clasa sunt îmbinate cu profesionalismul, grija si responsabilitatea personalului medical pentru a veni in intâmpinarea unui numar cat mai mare de pacienți.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Consult medical de specialitate</h4>
                        <p>Atât pentru diagnosticarea cât și pentru tratamentul pacienților, spitalul MediCare are toate dotarile necesare parcurgerii unui proces complet, susținut de cea mai avansată tehnologie de pe piață.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Recuperarea rapida a pacientului</h4>
                        <p>Vă puteți relua activitatea in cel mai scurt timp datorită colaborării stranse dintre specialiști si pacienți. Colaborare ce reduce astfel riscul clinic al pacientului și permite reintegrarea acestuia în viața de familie precum și în activitățile desfașurate de zi cu zi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ service-->