<section class="banner-search-page banner">
    <div class="bg-color">
        <div class="row">
            <div class="banner-info">
                <div class="banner-logo text-center">
                    <img src="assets/img/logo4.png" class="img-responsive">
                </div>
                <div class="banner-text text-center">
                    <h4 class="white">Folosește motorul nostru de căutare a simptomelor. </br>
                        </br>
                        Cu ajutorul motorului de căutare puteți indentifica afectiunea de care suferiți, introducând simptomele pe care le manifestați.</br>
                    Medicare vă oferă posibilitatea să puteți da click pe simptomele potrivite, sau puteți introduce manual simptomele. </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="page-header col-md-offset-1" ng-controller="loginCtrl">
        <h3>Buna {{data}}</h3>
        <form>
            <input class="searchSymptom" type="text" ng-model="symptoms" placeholder="Introduceti simptomele...">
        </form>
    </div>
</div>


<p></p>
<div class="row">
    <div class="col-md-12 ">
        <div ng-repeat="category in categories | filter:symptom">
            <div class="container-fluid">
                <div class="row panelCenter">
                    <div class="col-md-12">
                        <div class="category panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">{{category.name}}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="btn-group">
                                    <button class="btn btn-primary" ng-repeat="symptom in category.symptoms"
                                            ng-click="addSymptomToSearchField(symptom.name)">{{symptom.name}}
                                    </button>
                                </div>
                                <p></p>
                                <p class="text-center">
                                    <a class="btn btn-primary" ng-click="findDoctor(category._id)">Select</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
