<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MediCare</title>

    <link rel="stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <script src="assets/js/moment.min.js"></script>

   <!-- <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- jquery, moment, and angular have to get included before fullcalendar -->
</head>
<body ng-app="userApp" ng-controller="loginCtrl as login" id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="col-md-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <a class="navbar-brand" href="#"></a>
                </button>
            </div>

            <div class="collapse navbar-collapse navbar-right" ng-controller="loginCtrl">
                <ul class="nav navbar-nav" id="nav">
                <li ><a  is-active-nav href="/">Pagina principală</a></li>
                    <li ><a is-active-nav href="/servicii">Servicii</a></li>
                    <li ><a is-active-nav href="/search"ng-show="displayLogOutButton()">Căutare</a></li>
                    <li ><a is-active-nav href="/contact">Contact</a></li>
                    <li ><a is-active-nav href="#" ng-show="displayLogOutButton()" ng-click="logout()" >Deloghează-te!</a></li>
                    <li ><a is-active-nav href="/doctor-login" >Autentificare doctor</a></li>
                    <li ><a is-active-nav href="/userProfile" ng-show="displayLogOutButton()">Profilul meu</a> </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--banner-->
<!--/ banner-->
<div ng-view></div>

<!--footer-->
<footer id="footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Despre noi</h4>
                    </div>
                    <div class="info-sec">
                        <p>"Medicina este ştiinţa şi conştiinţa, încălzite de iubire faţă de oameni."</p>
                        <p>Iuliu Haţieganu</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Link-uri rapide</h4>
                    </div>
                    <div class="info-sec">
                        <ul class="quick-info">
                            <li><a href="index.html"><i class="fa fa-circle"></i>Pagina principală</a></li>
                            <li><a href="#service"><i class="fa fa-circle"></i>Servicii</a></li>
                            <li><a href="#contact"><i class="fa fa-circle"></i>Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                    <h4 class="white no-padding">Urmariți-ne pe Facebook pentru a afla ultimele noutăți!</h4>
                </div>
                    <div class="info-sec">
                        <ul class="social-icon">
                            <li></li>
                            <li></li>
                            <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!--/ footer-->

<script src="assets/js/angular.js"></script>
<script src="assets/js/angular-route.js"></script>
<script src="assets/js/angular-cookies.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/ui-bootstrap-custom-tpls-2.5.0.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>

<script src="assets/js/jquery.easing.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/fullcalendar.js"></script>
<script src="assets/js/moment.js"></script>
<script src="assets/js/gcal.js"></script>
<script src="assets/js/calendar.js"></script>
<script src="assets/js/add-calendar.js"></script>
<!--<script src="assets/js/style.js"></script>-->


<script src="assets/js/jquery.backstretch.js"></script>
<script src="assets/js/testimonials-script.js"></script>


<script src="app/app.js"></script>
<script src="app/routes.js"></script>


<script src="app/services/userServices.js"></script>
<script src="app/services/contactServices.js"></script>
<script src="app/services/loginServices.js"></script>
<script src="app/services/chooseDoctorService.js"></script>
<script src="app/views/home-page/principalController.js"></script>
<script src="app/views/schedule/calendarController.js"></script>
<script src="app/views/schedule/modalController.js"></script>
<script src="app/views/doctorCalendar/doctorCalendarController.js"></script>
<script src="app/views/doctorCalendar/drModalController.js"></script>
<script src="app/views/login/loginCtrl.js"></script>
<script src="app/views/doctorLogin/loginDrCtrl.js"></script>
<script src="app/views/chooseDoctor/chooseDoctor.controller.js"></script>
<script src="app/views/userProfile/userProfileController.js"></script>
<script src="app/views/userProfile/userProfileModalController.js"></script>
<script src="app/views/contact/contactUSController.js"></script>


<script src="app/views/register/userCtrl.js"></script>
<script src="app/views/search/search.js"></script>
<!--<script src="app/views/navDirective.js"></script>-->

<link rel="stylesheet" href="assets/css/fullcalendar.css"/>
<link rel="stylesheet" href="assets/css/testimonial.css"/>




</body>
</html>