<form ng-submit="register.regUser(regData);">
    <div class="container">
        <div class="row" id="register">
            <div class="col-md-6 col-md-offset-3">
                <h1>Creare cont</h1>
                <!--Email-->
                <label>E-mail:</label>
                <input class="form-control" type="text" name="email" placeholder="Vă rugăm introduceți o adresă de email validă"
                       ng-model="register.regData.email">
                <br>
                <!--Username-->
                <label>Nume utilizator:</label>
                <input class="form-control" type="text" name="username" placeholder="Vă rugăm introduceți un nume "
                       ng-model="register.regData.username">
                <br>
                <!--Password-->
                <label>Parola:</label>
                <input class="form-control" type="password" name="password" placeholder="Vă rugăm introduceți o parolă"
                       ng-model="register.regData.password">
                <br>
                <button class="btn btn-primary" type="submit">Creați contul!</button>
            </div>
        </div>
    </div>
</form>

<br>

<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">{{register.successMsg}}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger">{{register.errorMsg}}</div>
</div>