<section id="banner" class="banner">
    <div class="bg-color">
        <div class="container">
            <div class="row">
                <div class="banner-info">
                    <div class="banner-logo text-center">
                        <img src="assets/img/logo4.png" class="img-responsive">
                    </div>
                    <div class="banner-text text-center">
                        <h1 class="white">Mereu preocupati de sanatatea ta!!</h1>
                        <p>Pentru programare unei viitoare consultatii<br>descrie-ne simptomele tale.</p>
                        <a href="/login" class="btn btn-appoint">Programeaza o consultatie.</a>
                    </div>
                    <div class="overlay-detail text-center">
                        <a href="/service"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<form ng-submit="login.loginUser(loginData);">
    <div class="container">
        <div class="row" id="log-in">
            <div class="col-md-6 col-md-offset-3">
                <h1>Autentificare </h1>
                <!--Username-->
                <label>Nume </label>
                <input class="form-control" type="text" name="username" placeholder="Vă rugăm introduce-ți un nume"
                       ng-model="login.loginData.username">
                <br>
                <!--Password-->
                <label>Parola </label>
                <form>
                    <input class="form-control" type="password" name="password" placeholder="Vă rugăm introduce-ți o parolă"
                           ng-model="login.loginData.password" >
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Intrați in cont!</button>
                    <hr>
                </form>

                <button class="btn btn-md btn-primary btn-block" onclick="location.href='/doctor-login'">Autentificare Doctor</button>
                <br>
                <p>Nu aveți înca un cont? <a href="/register">Inregistrați-vă!</a></p>
            </div>
        </div>
    </div>
</form>

<br>

<div class="jumbotron text-center" ng-show="login.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="login.successMsg">
    <div class="alert alert-success">{{login.successMsg}}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="login.errorMsg">
    <div class="alert alert-danger">{{login.errorMsg}}</div>
</div>