body {
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    color: #999999;
    font-size: 300;
    font-size: 16px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #222222;
}
a, a:hover, a:focus, a:active{
    outline: none;
}

.section-padding{
    padding: 60px 0px;

}
h2 {
    line-height: 20px;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
hr.botm-line {
    height: 3px;
    width: 60px;
    background: #18acb8;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}

/***************************************
banner
***************************************/
.navbar {
    margin-bottom: 0px;
    border: 0px;
}
.navbar {
    border-radius: 0px;
}
.navbar-default {
    background-color: #fff;
    padding: 5px 0;
    transition: all 0.3s;
}
.navbar-default {
    background-color: transparent;
    border: 0px;
}
.navbar {
    border-radius: 0px;
}

.navbar-brand
{
    font-family: 'Chewy', cursive;
    font-size: 32px;
}

.navbar-brand img {
    padding-top: 2px;
    width: 120px !important;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #EA6045;
}

.top-nav-collapse {
    padding: 0;
    background: rgba(28,74,90, 0.9);
}

.white, .white:hover, .white:focus
{
    color: #fff;
    width: 100% !important;
}
.block
{
    display: block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(12, 184, 182, 0.21);
}
.navbar-default .navbar-nav > li > a
{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(12, 184, 182, 0.21);
}
.affix {
    background-color: #ffffff !important;
}
.affix .navbar-nav > li > a:hover, .affix .navbar-nav > li > a:focus
{
    background-color: rgba(12, 184, 182) !important;
}
#banner{
    background: url('../img/bg-banner.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 650px;
    position: relative;
}

.banner-search-page{
    background: url('../img/daniel-frank-201417.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 650px;
    position: relative;
}

.banner-schedule-page{
    background: url('../img/schedule-bg.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 650px;
    position: relative;
}

.content-centered {
    display: inline-block;
}

.bg-color{
    background-color: RGBA(13, 70, 83, 0.50);
    min-height: 650px;
}
.test-color{
    background-color: RGBA(13, 50, 83, 0.40);
}
.banner-search{
    background-color: RGBA(13, 70, 83, 0.78);
    min-height: 350px;
}
.banner-info{
   padding-top: 140px;
}
.banner-logo img{
    display: inline-block;
}
.banner-text{
    color: #fff;
}
.banner-text h1{
    font-family: 'Candal', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom:15px;
}
.banner-text p{
    font-family: 'Candal', sans-serif;
    font-size: 20px;
    padding-bottom:10px;
}
.btn-appoint, .btn-appoint:hover, .btn-appoint:focus{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(60, 161, 184, 0.91);
    border-radius: 3px;
    color: #fff;
}
.overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: 25px;
    font-size: 38px;
    color: #fff;
    margin: 0 auto;
}
.text-primary i{
    padding-top: 8px;
    display: inline-block;
}
/***************************************
servicii
***************************************/
.icon i{
    color: #0cb8b6;
    font-size: 45px;
    margin-bottom: 25px;
}
.service-info{
    margin-bottom: 20px;
}
.icon-info h4{
    padding-bottom: 15px;
}
.icon-info p{
    font-size: 15px !important;
}


/***************************************
contact us
***************************************/
.space {
    margin-top: 15px;
}
.btn-form, .btn-form:hover, .btn-form:focus {
    background-color: #0cb8b6;
    color: #fff;
    border-radius: 0px;
    padding: 10px 20px;
}
.br-radius-zero {
    border-radius: 0px;
}
.form-control{
    height: 40px;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
    display:block;
}

/***************************************
cta -2
***************************************/
#cta-2
.white{
    color: #fff;
}
.icon-play, .icon-play:hover, .icon-play:focus{
    background-color: #0CB8B6;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    padding: 5px 17px;
    margin-top: 26px;
    display: block;
}
.text-primary {
    color: #fff;
}
.text-secondary{
    color: #fff;

}
.icon-mar
{
    margin-right: 7px;
}

/***************************************
footer
***************************************/
#footer{
    background-color: rgba(60, 161, 184, 0.91);
}
.ftr-tle {
    height: 50px;
}
.info-sec {
    color: #fff;
}
.ftr-tle{
    text-align: center;
}
.footer-social{
    margin-left: 60px;
}
.quick-info li i {
    font-size: 8px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: left;
}
.social-icon li {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 5px;
}
.bglight-blue {
    background-color: #3498DB;

}
.bgred {
    background-color: #E74C3C;
}
.bgdark-blue {
    background-color: #2C3E50;
}
.bglight-blue {
    background-color: #3498DB;
}
.top-footer {
    padding: 5px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer-line {
    padding: 50px 0px;
    color: #fff;
}

.footer-line a {
    color: #0CB8B6;
}

.quick-info li a{
    color: #fff;
}
.site-link, .site-link:hover, .site-link:focus
{
    color: #0cb8b6;
    text-transform: none;
}

.panelCenter{
    padding-left: 100px;
    padding-right: 100px;
}

.searchSymptom{
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
    background-image: url('../img/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchSymptom:focus {
    width: 100%;
}
.acceptedEvent,
.acceptedEvent div,
.acceptedEvent span {
    background-color: #0cff0c; /* background color */
    border-color: white;     /* border color */
    color: white;           /* text color */
}
#doctor-team h2 {
    font-size: 25px;
    line-height: 1.2;
    text-transform: none;
}

.about-container {
    padding-top: 70px;
    padding-bottom: 70px;
    background: url("../img/testimonials/ocean.jpg");
    background-size: 100% 100%;
    background-color: RGBA(13, 70, 83, 0.58);
}
#social{
    text-align: center;
}
#log-in  {
    padding-top: 70px;
    padding-bottom: 70px;
}

#register {
    padding-top: 100px;
    padding-bottom: 100px;
}
.choose-doctor {
    padding-top: 50px;
    padding-bottom: 50px;
}
.drCalendar{
    padding-top: 50px;
    padding-bottom: 50px;
}

