<section class="banner-search-page banner">
    <div class="bg-color">
        <div class="row">
            <div class="banner-info">
                <div class="banner-logo text-center">
                    <img src="assets/img/logo4.png" class="img-responsive">
                </div>
                <div class="banner-text text-center">
                    <h4 class="white">Ați ajuns pe pagina specialiștilor noștri disponibili.</br>
                        </br>
                        În urma simptomelor prezentate aveți mai jos, </br> Medicare vă pune la dispoziție o aparatură performanta de ultimă generație si cei mai pregătiți specialiști.</br>
                        </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="page-header col-md-offset-1" ng-controller="loginCtrl">
        <h3>Buna {{data}}, pentru afecțiunile detaliate anterior noi iți recomandăm sa alegi unul dintre specialiștii disponibili.</h3>
    </div>
</div>

<div class="row">

    <div class="choose-doctor" ng-repeat="doctor in doctorsArray track by doctor._id">
        <div class="row panelCenter" ng-click="selectDoctor(doctor)">
            <div class="col-md-12">
                <div class="category panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{{doctor.name}}</h3>
                        <p class="panel-body">{{doctor.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

