<section class="banner-schedule-page banner">
    <div class="bg-color">
        <div class="row">
            <div class="banner-info">
                <div class="banner-logo text-center">
                    <img src="assets/img/logo4.png" class="img-responsive">
                </div>
                <div class="banner-text text-center">
                    <h3 class="white">Verificați disponibilitatea doctorului și alegeți o zi și o ora în cadrul căreia</br> ați dori să se desfășoare consultația.</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid ">
    <h2>Aveți mai jos calendarul doctorului: {{doctorName}}</h2>
    <div class="drCalendar">
    <div class="row ">
        <div class="col-md-8 col-md-offset-2">
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>

            <!--Angular template for modal dialog code structure starts here-->
            <script type="text/ng-template" id="modalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">Programare</h3>
                </div>
                <div class="modal-body" ng-show="event.state==='pending'">
                    <p>Programarea dumneavoastra asteapta sa fie aprobata de catre doctor. Veti primi email cand
                        programarea
                        a fost acceptata. </p>
                </div>

                <div class="modal-body" ng-show="event.state == undefined">
                    <div style="color:red">{{Message}}</div>
                    <div class="form-group">
                        <label>Nume: </label>
                        <input type="text" ng-model="event.title" autofocus class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Detalii afecțiune: </label>
                        <input type="text" ng-model="event.description" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label ng-show="displaySave">Email: </label>
                        <input ng-show="displaySave" type="email" ng-model="event.email" class="form-control"/>
                    </div>
                    <Label ng-show="displaySave">Alegeti ora de incepere:</Label>
                    <div uib-timepicker ng-show="displaySave" ng-change="updateEndDate(startDate)" ng-model="startDate"
                         datepicker-options="dateOptions"
                         hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                    <Label ng-show="displaySave">Alegeti ora de plecare:</Label>
                    <div uib-timepicker ng-show="displaySave" ng-change="changed(endDate)" ng-model="endDate"
                         datepicker-options="dateOptions"
                         hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>

                    <pre ng-show="displaySave" class="alert alert-info">Consultatia va avea loc de la: {{startDate | date:'shortTime' }} pana la {{endDate | date:'shortTime' }}</pre>
                    <pre ng-hide="displaySave" class="alert alert-info">Consultatia va avea loc de la: {{event.start | date:'shortTime' }} pana la {{event.end | date:'shortTime' }}</pre>

                    <hr>
                </div>

                <div class="modal-body" ng-show="event.state==='accepted'">
                    <div style="color:red">{{Message}}</div>
                    <div class="form-group">
                        <label>Nume: </label>
                        <input type="text" ng-model="event.title" autofocus class="form-control" disabled/>
                    </div>
                    <div class="form-group">
                        <label>Detalii afecțiune: </label>
                        <input type="text" ng-model="event.description" class="form-control" disabled/>
                    </div>
                    <div class="form-group">
                        <label ng-show="displaySave">Email: </label>
                        <input ng-show="displaySave" type="email" ng-model="event.email" class="form-control"/>
                    </div>
                    <Label ng-show="displaySave">Alegeti ora de incepere:</Label>
                    <div uib-timepicker ng-show="displaySave" ng-change="updateEndDate(startDate)" ng-model="startDate"
                         datepicker-options="dateOptions"
                         hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                    <Label ng-show="displaySave">Alegeti ora de plecare:</Label>
                    <div uib-timepicker ng-show="displaySave" ng-change="changed(endDate)" ng-model="endDate"
                         datepicker-options="dateOptions"
                         hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>

                    <pre ng-show="displaySave" class="alert alert-info">Consultatia va avea loc de la: {{startDate | date:'shortTime' }} pana la {{endDate | date:'shortTime' }}</pre>
                    <pre ng-hide="displaySave" class="alert alert-info">Consultatia va avea loc de la: {{event.start | date:'shortTime' }} pana la {{event.end | date:'shortTime' }}</pre>

                    <hr>
                </div>




                <div class="modal-footer">
                    <button id="add-to-calendar" ng-click="addToCalendar()" class="btn btn-info">Opțiuni</button>
                    <button ng-show="displaySave" class="btn btn-primary" type="button" ng-click="ok()">Save</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>

                </div>
                <!--Angular modal dialog code ends here-->
            </script>
            <div class="col-md-4">
                <div ng-show="SelectedEvent" class="alert alert-success" style="margin-top: 50px">
                    <h2 style="margin-top: 0px">Selected Event</h2>
                    <h3 style="color: #8fdf82">{{SelectedEvent.title}}</h3>
                    <p>{{SelectedEvent.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
