<!--contact-->
<section id="contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Contact</h2>
                <hr class="botm-line">
            </div>
            <div class="container-fluid">
            <div class="col-md-6 col-sm-6">
                <h3>Date de contact</h3>
                <div class="space"></div>
                <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>Str. Observatorului, nr.34<br>
                   Cluj Napoca, Romania 17022</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2733.45886903096!2d23.5903743156012!3d46.75585097913745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490dd29314df15%3A0xc4ee6bb880ada3a!2sStrada+Observatorului+34%2C+Cluj-Napoca+400000!5e0!3m2!1sro!2sro!4v1498979614144" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                <div class="space"></div>
                <div class="space"></div>
                <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>ro.medicare@gmail.com</p>
                <div class="space"></div>
                <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>0742216512</p>
            </div>
            <div class="col-md-6 col-sm-6 marb20">
                <div class="contact-info" ng-controller="contactUsController">
                    <h3 class="cnt-ttl">Atât timp cât aveți întrebări, sau nelămuriri, suntem la dispoziția dumneavoastră!</h3>
                    <div class="space"></div>
                    <div ng-show="operationSuccess" class="alert alert-success">
                        <strong>Success!</strong> Actiunea a fost realizata cu succes.
                    </div>
                    <div ng-show="operationError" class="alert alert-danger">
                        <strong>Danger!</strong>Eroare!
                    </div>
                    <form class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" ng-model="contact.name" class="form-control br-radius-zero" id="name" placeholder="Nume" data-rule="minlen:4" data-msg="Va rugam introduceti un nume format din cel putin 4 caractere!" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" ng-model="contact.email" class="form-control br-radius-zero" name="email" id="email" placeholder=" Email" data-rule="email" data-msg="Va rugam introduceti o adresa de email valida! " />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model="contact.subject" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subiect" data-rule="minlen:4" data-msg="Va rugam introduceti un subiect format din cel putin 8 caractere! " />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control br-radius-zero" ng-model="contact.message" name="message" rows="5" data-rule="required" data-msg="Va rugam introduceti un mesaj! " placeholder="Mesaj"></textarea>
                            <div class="validation"></div>
                        </div>

                        <div class="form-action">
                            <button type="submit"  ng-click="submitContact()" class="btn btn-form">Trimite mesajul</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!--/ contact-->