    <div class="container" style="padding-top: 160px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form ng-submit="submit()">

                    <h3>Autentificare doctor</h3>
                    <label>Nume</label>
                    <input class="form-control" type="text" name="username" placeholder="Vă rugăm introduceți un nume valid"
                           ng-model="login.username">
                    <br>
                    <!--Password-->
                    <label>Parola</label>

                    <input class="form-control" type="password" name="password" placeholder="Vă rugăm introduceți o parolă validă."
                           ng-model="login.password">
                    <br>
                    <input class="btn btn-lg btn-primary btn-block" type="submit" id="submit" value="Intrați in cont!">
                    <hr>
                </form>
                <br>
                <p>Nu aveți înca un cont? <a href="/register">Inregistrați-vă!</a></p>
            </div>
        </div>
    </div>

<br>

<div class="jumbotron text-center" ng-show="login.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="login.successMsg">
    <div class="alert alert-success">{{login.successMsg}}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="login.errorMsg">
    <div class="alert alert-danger">{{login.errorMsg}}</div>
</div>