<section id="banner" class="banner">
    <div class="bg-color">
        <div class="container">
            <div class="row">
                <div class="banner-info">
                    <div class="banner-logo text-center">
                        <img src="assets/img/logo4.png" class="img-responsive">
                    </div>
                    <div class="banner-text text-center">
                        <h1 class="white">Mereu preocupați de sănătatea ta!!</h1>
                        <p>Pentru programarea unei viitoare consultații<br>descrie-ne simptomele tale.</p>
                        <button  ng-click="routeChangingIfUserLogged()" class="btn btn-appoint">Programează o consultație.</button>
                    </div>
                    <div class="overlay-detail text-center">
                        <a href="#testimonials"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->

<div id="testimonials" class="testimonials-container section-container section-container-image-bg">
    <div class="test-color">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 testimonials section-description">
                <h2>Ce spun clienții noștri!</h2>
                <p class="medium-paragraph">Pentru noi este foarte important să ne orientăm pe clienții noștri și să obținem cele mai mari beneficii posibile pentru aceștia. Dar nu ne credeți pur și simplu pe cuvânt, ci uitați ce spun câțiva dintre clienții noștri...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 testimonial-list">
                <div role="tabpanel">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                            <div class="testimonial-image">
                                <img src="assets/img/testimonials/1.jpg" alt="t1">
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    "În urma serviciilor prestate de clinica "MediCare" ne declarăm mulțumiți de colaborare,considerăm că această clinică
                                    este una de succes si cu servicii de cea mai inaltă clasă. În cazul nostru, programarea online a fost extrem de utilă
                                    deoarece programul nostru încărcat nu ne-ar fi permis să mergem la mai mulți specialiști pentru a descoperi cine se află în măsură
                                    să se ocupe de problemele noastre de sanătate. Acum, printr-un singur click, suntem conduși la specialiștii patologiei aferente."
                                    <br>
                                    <a href="#">Andrei si Andreea Pop</a>
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab2">
                            <div class="testimonial-image">
                                <img src="assets/img/testimonials/2.jpg" alt="t2">
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    "Cu câteva luni în urmă am avut o problemă de sănătate care a necesitat o interventie urgenta din partea unor specialisti.
                                    Incercarile de a obtine sprijin imediat in cadrul a doua clinici cunoscute al caror client eram deja s-au dovedit fara succes pentru
                                    ca nu aveam programare si ar fi trebuit sa astept mai mult decat imi permitea starea mea. O cunostinta m-a sfatuit sa incerc si la
                                    Medicare pentru ca au un sistem foarte eficient de programari online, ceea ce am si facut.Acum pot spune ca am facut alegerea perfecta.
                                    Nu mi s-a cerut card de client si nici nu am fost trecut pe vreo lista de asteptare.Problema mea a fost tratata intr-adevar ca o urgenta,
                                    iar echipa de specialisti, aparatura performanta, ambianta deosebita si profesionalismul m-au convins sa revin de fiecare data cand am avut o problema de sanatate.
                                    <br>
                                    <a href="#">Adrian Iftimie</a>
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab3">
                            <div class="testimonial-image">
                                <img src="assets/img/testimonials/3.jpg" alt="t3">
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    "Le recomand tuturor sa apeleze cu toata increderea la serviciile oferite de echipa de specialisti de la MediCare.Datorita sistemului
                                    informatic al acestei firme, am reusit sa gasesc specialistul care s-a ocupat de problema mea de sanatate, fara a fi nevoit sa consult
                                    mai multi doctori si sa fiu lasat zile in sir pe lista de asteptare.
                                    Ii recomand cu toate increderea pe cei de la MediCare."
                                    <br>
                                    <a href="#">David Andreescu</a>
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab4">
                            <div class="testimonial-image">
                                <img src="assets/img/testimonials/4.jpg" alt="t4">
                            </div>
                            <div class="testimonial-text">
                                <p>
                                    "Societatea BG Soft, in urma derularii contractelor de prestari servicii medicale cu clinica MediCare,
                                    considera colaborarea noastra una foarte buna,fapt pentru care o recomandam ca fiind o clinica moderna,
                                    cu practicieni si servicii de inalt standard calitativ. Trebue sa adaugam ca sistemul de programari online
                                    este foarte util, astfel fiecare angajat al nostru a descoperit medicul de specialitate potrivit pentru
                                    simptomatologia sa si in acelasi timp a economisit timp, evitand asteptatul la coada"
                                    <br>
                                    <a href="#">HR BG Soft SRL.</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                            <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
                        </li>
                        <li role="presentation">
                            <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--cta 2-->
<div class="about-container" >
    <div class="test-color">
    <section id="cta-2" class="section-padding">
        <div class="container" >
            <div class=" row">
                <div class="col-md-2"></div>
                <div class="text-right-md col-md-4 col-sm-4">
                    <h2 class="section-title white lg-line">« Câteva cuvinte <br> despre noi »</h2>
                </div>
                <div class="text-secondary col-md-4 col-sm-5">
                    MediCare este de fapt un spital privat care a studiat timp îndelungat nevoile populației si s-a gândit sa vină cât se poate de mult în ajutorul oamenilor. Astfel a luat naștere acest website, a cărui principal obiectiv este de a îndruma fiecare persoană să realizeze programarea online a unui consult medical la unul din cei mai buni specialiști care se pot ocupa de simptomele relatate.
                </div>

            <div class=" row">
            <div class="col-md-9"> </div>
                <div class="text-secondary col-md-3">Echipa MediCare</div>
        </div>

    </section>
</div>
</div>

<!--cta-->

<!--doctor team-->
<section id="doctor-team" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Iata o parte din doctorii nostri!</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <img src="assets/img/doctor1.jpg" alt="..." class="team-img">
                    <div class="caption">
                        <h3>Ana Aslan</h3>
                        <p>Doctor</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <img src="assets/img/doctor5.jpg" alt="..." class="team-img">
                    <div class="caption">
                        <h3>Pop Raul</h3>
                        <p>Doctor</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <img src="assets/img/doctor2.jpg" alt="..." class="team-img">
                    <div class="caption">
                        <h3>Adina Ratcu</h3>
                        <p>Doctor</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <img src="assets/img/doctor4.jpg" alt="..." class="team-img">
                    <div class="caption">
                        <h3>Daniel Sas</h3>
                        <p>Doctor</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ doctor team-->



<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-7 footer-social">
                <p >
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script>



	jQuery(document).ready(function() {

      /*
       Background slideshow
       */
		$('.testimonials-container').backstretch("assets/img/1.jpg");

		$('a[data-toggle="tab"]').on('shown.bs.tab', function(){
			$('.testimonials-container').backstretch("resize");
		});

	});

</script>

