<div style="padding-top:100px">
    <h1>Buna {{data}}</h1>
    <h2>Aveti mai jos arhiva programarilor dumneavoastra: </h2>
    <div>
        <div class="row">
            <div>
                <div class="col-md-7">
                    <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
                </div>
            </div>
</div>

        <script type="text/ng-template" id="userProfileModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Event</h3>
            </div>
            <div class="modal-body">
                <div style="color:red">{{Message}}</div>
                <div class="form-group">
                    <label>Event Title: </label>
                    <input type="text" ng-model="event.title" autofocus class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <label>Description: </label>
                    <input type="text" ng-model="event.description" class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <label ng-show="displaySave">Email: </label>
                    <input ng-show="displaySave" type="email" ng-model="email" class="form-control"/>
                </div>
                <Label ng-show="displaySave">Alegeti ora de incepere:</Label>
                <div uib-timepicker ng-show="displaySave" ng-change="changed(startDate)" ng-model="startDate"
                     datepicker-options="dateOptions"
                     hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                <Label ng-show="displaySave">Alegeti ora de plecare:</Label>
                <div uib-timepicker ng-show="displaySave" ng-change="changed(endDate)" ng-model="endDate"
                     datepicker-options="dateOptions"
                     hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>

                <pre ng-show="displaySave" class="alert alert-info">Consultatia va avea loc de la: {{startDate | date:'shortTime' }} pana la {{endDate | date:'shortTime' }}</pre>
                <pre ng-hide="displaySave" class="alert alert-info">Consultatia va avea loc de la: {{event.start | date:'shortTime' }} pana la {{event.end | date:'shortTime' }}</pre>

                <hr>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
            <!--Angular modal dialog code ends here-->
        </script>
        <div class="col-md-4">
            <div ng-show="SelectedEvent" class="alert alert-success" style="margin-top: 50px">
                <h2 style="margin-top: 0px">Selected Event</h2>
                <h3 style="color: #8fdf82">{{SelectedEvent.title}}</h3>
                <p>{{SelectedEvent.description}}</p>
            </div>
        </div>
    </div>
</div>
